@media screen and (min-width:428px){
  .header-mob-tel{ font-size: 36px;
  }
.header-mob-social-list { gap:56px;}
.business-title {
    font-size: 36px;
  width: 320px;
}
.customers-menu-item {width: 190px;
}

.customers-menu{
  /* max-width: 768px; */
}

.footer-forma-email {width: 398px;
}
}

@media screen and (min-width: 768px) and (max-width:1157px) {
  .container {
    max-width: 768px;
  }

  .header-mob-menu-btn {
    display: none;
  }

  .header-mob-menu {
    display: none;
  }

  .header-menu-list {
    text-align: center;
    display: flex;
    gap: 40px;
  }

  .header-address-menu {
    color: var(--slate, #434455);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-address-link {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address {
    font-style: normal;
    text-align: center;
    display: flex;
    margin-left: auto;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .business {background-color: #2e2f42;
    background-image: linear-gradient (
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
          ),
        url(../images/people-office-tablet.jpg);
    }
  .business-title {
font-size: 56px;
width: 496px;
line-height:1.07;
margin-bottom: 36px;}


.skills-menu {
  gap: 72px 24px;}

.skills-menu-fon {
  display: none;
  }
  .social-icon{
    display: none;
    }

.skills-menu-item {
  width: calc((100% - 24px) / 2);
  
  }

  .skills-subtitle {
      text-align: left;
      width: 264px;
  }

  .development {
    display: none;
  }


  .team-list {
gap:64px 24px;
    width: 100%;
    padding-left: 93px;
    padding-right: 93px;
  }

  .team-img {margin: 0 auto;} 

  .team-list-menu {
    width: calc((100% - 48px) / 2);}


    .team-menu-fon-list{
    gap: 24px;
    justify-content: center;}


    .customers-menu{
    padding-left: 93px;
    padding-right: 93px;
  max-width: 768px;
  gap: 72px 24px;}

    .customers-menu-item {
    width: calc((100% - 48px) / 3);
  }
    
  .footer-container {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
  padding-left: 93px;
  padding-right: 93px;

  }
  .footer-left{
  margin: 0;
  text-align: left;
margin-right: 24px;}

  .footer-social-menu{
  margin: 0;}


  .footer-title {
      text-align:left;
  }

  .footer-logo{justify-content: left;}


  .footer-forma-title {  
    text-align: left;
  }
  
.footer-forma {
  margin: 0;}

  .footer-form-forma {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: left;}

  .footer-forma-label {
    margin: 0;}
  .footer-forma-email {margin: 0;width: 264px;margin-right: 24px;}




  }








@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .header-mob-menu-btn {
    display: none;
  }

  .header-mob-menu {
    display: none;
  }
  
    .header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    border-bottom: 1px solid var(--cornflower, #e7e9fc);
  }
  
  .header-navigation {
    align-items: center;
    display: flex;
  }
  
  .header-logo {
    color: var(--iris, #4d5ae5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
  }
  .header-logo-color {
    color: var(--navyblue, #2e2f42);
    text-align: center;
  }
  
  .header-menu-list {
    text-align: center;
    display: flex;
    gap: 40px;
  }
  
  .header-menu-item {
    text-align: center;
  }
  .header-address-menu {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    display: flex;
    padding: 24px 0;
    color: var(--navyblue, #2e2f42);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--ocean, #404bbf);
    text-decoration: underline;
    text-decoration: none;
  }
  .header-address {
    font-style: normal;
    text-align: center;
    display: flex;
    margin-left: auto;
  }
  
  .current::after {
    width: 100%;
    height: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    content: "";
  }
  
  .header-address-link {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    margin: 0;
    padding-left: 0;
    text-align: center;
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--ocean, #404bbf);
    text-decoration: none;
  }
  
  .business {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
    
    width: 100%;
    max-width: 1440px;
  }
  .business-title {
      font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
    width: 496px;
  }
  
  .business-btn {
    color: var(--white, #ffffff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--iris, #4d5ae5);
    font-family: inherit;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    display: block;
    justify-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .business-btn:hover,
  .business-btn:focus {
    background: var(--ocean, #404bbf);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
  
  /*----------------SKILLS--------------*/
  
  .skills {
    padding: 120px 0;
  }
  
  .skills-menu {
    gap: 24px;
  }
  .skills-menu-fon {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  
  .skills-menu-item {
    width: calc((100% - 72px) / 4);
  }
  .skills-subtitle {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    width: 264px;
    text-align: left;

    
  }
  .skills-item-text {
      letter-spacing: 0.02em;
    width: 264px;
font-weight: 400;
  }
  
  /*----------------DEVELOPMENT-------------*/
  .development {display: flex;
    padding-bottom: 120px;
  }
  .development-title {
    color: var(--navyblue, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    margin: 0 auto 72px;
    text-align: center;
  }
  
  .development-menu-list {
    display: flex;
    gap: 24px;
  }
  
  .development-menu-item {
    width: calc((100% - 48px) / 3);
  }
  


  /*----------------TEAM----------------*/
  .team {
    padding: 120px 0;
  }
    
  .team-list {
    width: 100%;
    gap: 24px;
    padding: 0;
  }
  
  .team-list-menu {
      width: calc((100% - 3 * 24px) / 4);
    }
  
  .team-working {
    padding: 32px 0;
  }
  
  .team-menu-fon-list {
    justify-content: center;
    flex-shrink: 0;
    gap: 24px;
  }
  

  /*------------------CUSTOMER-----------------*/

  .customers {
    padding: 120px 0;
  }
    
  .customers-menu {
    gap: 24px;
    max-width: 1158px;
  }
    
  .customers-menu-item {
    width: calc((100% - 5 * 24px) / 6);
  }
  
  
  /*------------------PORTFOLIO-----------------*/
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  
  .portfolio-filtr-list {
    width: 1158px;
    width: calc(100% - (24px * 4) / 5);
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  
  .portfolio-btn {
    font-family: inherit;
    color: #4d5ae5;
    background: var(--cloud, #f4f4fd);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #e7e9fc);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-btn:hover,
  .portfolio-btn:focus {
    background-color: var(--ocean, #404bbf);
    color: var(--white, #ffffff);
    text-decoration: none;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .portfolio-projects-list {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-link:hover .porfolio-cover-text {
    transform: translateY(0%);
  }
  
  .portfolio-link:focus .porfolio-cover-text {
    transform: translateY(0%);
  }
  
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-item :hover .porfolio-cover {
    transform: translateY(0);
  }
  .portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .porfolio-cover-text {
    color: var(--cloud, #f4f4fd);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio-subtitle {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-text {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
  }
  
  /*-----------FOOTER------------*/
  
  .footer {
      padding: 100px 0;
   
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    /* margin: 0 auto; */
  }
  .footer-left {
    margin: 0 auto;
    margin-right: 120px;
    padding-bottom: 0;
  }
  .footer-logo {
    color: var(--iris, #4d5ae5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .footer-logo-color {
    color: var(--cloud, #f4f4fd);
    display: inline-block;
  }
  
  .footer-text {
    color: var(--cloud, #f4f4fd);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
    max-width: 264px;
  }
  
  .footer-social-menu {
    text-align: center;
    margin: 0 auto;
    top: 100px;
    left: 540px;
    display: block;
    align-items: baseline;
    margin-right: 80px;
  }
  
  .footer-title {
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    display: block;
    text-align: left;
  }
  
  .footer-menu-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .footer-menu-fon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-block;
    display: flex;
    align-items: center;
  
    background-color: var(--iris, #4d5ae5);
  }
  .footer-menu-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-menu-link :hover,
  .footer-menu-link :focus {
    background-color: #31d0aa;
  }
  
  .footer-icon {
    fill: #f4f4fd;
  }
  .footer-menu-fon :hover,
  .footer-menu-fon :focus {
    background-color: var(--green, #31d0aa);
  }
  
  .footer-forma {
    display: block;
    margin: 0 auto;
  }
  .footer-forma-title {
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .footer-form-forma {
    display: flex;
    gap: 24px;
    margin: 0 auto;
  }
  .footer-forma-label {
    margin: 0 auto;
  }
  .footer-forma-email {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid var(--white, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
  }
  
  ::placeholder {
    color: var(--white, #fff);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    align-items: center;
  }
  
  .footer-forma-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4d5ae5;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 165px;
    border: none;
    height: 40px;
    font-family: "Roboto", sans-serif;
  }
  
  .social-frame {
    fill: #fff;
    margin-left: 16px;
  }
  
  /*-----------MODAL------------*/
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    border-radius: 4px;
    background: var(--dairy, #fcfcfc);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    width: 408px;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    gap: 8px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 24px;
    height: 24px;
  }
  .modal :hover.modal-close-btn,
  .modal :focus.modal-close-btn {
    background-color: var(--ocean, #404bbf);
    fill: #ffffff;
    border: none;
  }
  .modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-icon:hover,
  .modal-icon:focus {
    fill: #ffffff;
    background-color: var(--ocean, #404bbf);
    background-color: #404bbf;
    border: none;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  
  .modal-input-wrap {
    position: relative;
    margin-bottom: 8px;
  }
  .modal-input-svg {
    position: relative;
  }
  
  .modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 38px;
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-input:focus{
    border-color: #4D5AE5;}
  
  .modal-input:focus + .modal-frame {
    fill:#4D5AE5;
  }
  .modal-textarea-wrap{
    margin-bottom: 16px;
  }
  .modal-textarea::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
      line-height: 1.16;
    letter-spacing: 0.04em;
  }
  
  .modal-input-wrap:focus{
    border-color: #4d5ae5;
    margin-bottom: 16px;
  }
  
  .modal-label {
    width: 41px;
    color: var(--lightslate, #8e8f99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
  }
  .modal-frame {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-input-textarea:focus {
    border-color: #4d5ae5;
  }
  
  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus {
    border-color: #4d5ae5;
  }
  
  .modal-checkbox-wrap {
    margin-bottom: 24px;
  }
  
  .checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    fill: transparent;
  align-items: center;
  }
  
  .icon-pole-galochka{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    } 
  
  .modal-input-checkbox:checked + .checkbox-label span {
    background-color:#404bbf;
    border:none;
    fill: var(--cloud,#F4F4FD);}
  
  .checkbox-link {
    color: var(--iris,#4d5ae5); 
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline; 
      } 
  
    .modal-btn {
      display: block;
      padding: 16px 32px;
      min-width: 169px;
      height: 56px;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      color: #fff;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      cursor: pointer;
      justify-content: center;
      margin-left: 95px;
      background-color: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}