@media screen and (min-width: 428px){
    .container{max-width:398px;}

    

}

@media screen and (min-width: 768px){
    .container{max-width:738px;
    margin-bottom: 96px;}

    .skills-menu-item {
        width: calc((100% - 24px) / 2); }    

    .skills-menu{gap: 72px 24px;}

    .development {display: none;}

}

@media screen and (min-width: 1158px){
    .container{max-width:1158px;}

    .skills-menu-item {
        width: calc((100% - 72px) / 4);
      }

    .skills-menu-fon {display: inline-block;
        display: flex;}

        .development{display: flex;}

     }